.svn
.cvsignore
CVS
*.bak
*~
*.obj
*.sbr
*.ncb
*.o
*.la
*.lo
BuildLog.htm
.deps
.libs
*.user
*.pdb
*.gz
*.7z
*.rar
*.bz2
*.zip
*.lzma
*.suo
.*
research
tmp
tidy-0.99.0-Ger-7277.src
tidy-0.99.0
autom4te.cache
